# --- R ---
.Rhistory
.Rapp.history
.RData
.RDataTmp
.RDataTmp*
.Ruserdata
.Renviron
.Rproj.user/
atlas-mnhnl.Rproj
*-Ex.R
/*.tar.gz
/*.Rcheck/

.httr-oauth
# --- Quarto ---
*_cache/
/cache/
*.utf8.md
*.knit.md
/.quarto/
**/*.quarto_ipynb
Atlas/_book/
Atlas/_book/history.html
Atlas/_freeze/
Atlas/biophysical_files/
Atlas/biophysical_files/figure-html/
vignettes/*.html
vignettes/*.pdf
*.html

docs/
po/*~
rsconnect/
# --- Data files (large) ---
Atlas/data/MNS_Lidar2024.tif
Atlas/data/LandCover_Luxembourg_status_2024.tif
Atlas/data/Carte_associations_de_sols/
Atlas/data/landcover-vector-2018-2021-2024-gdb/
*.gdb/
*.ppkx
*.gml
*.gfs
# --- Broken / temp qmd files ---
Atlas/ErreurBC.qmd
Atlas/ErreurHN.qmd
Atlas/code/HNCell.qmd
Atlas/code/BCCell.qmd
# --- all PNG except  status logos ---
*.png
!Atlas/images/CD.png
!Atlas/images/CR.png
!Atlas/images/DD.png
!Atlas/images/EN.png
!Atlas/images/EW.png
!Atlas/images/EX.png
!Atlas/images/LC.png
!Atlas/images/LD.png
!Atlas/images/LNT.png
!Atlas/images/LPNT.png
!Atlas/images/MD.png
!Atlas/images/NE.png
!Atlas/images/NT.png
!Atlas/images/VU.png
