# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
atlas-mnhnl.Rproj
Atlas/_book/
Atlas/_freeze/
Atlas/_book/history.html
*.html
Atlas/data/MNS_Lidar2024.tif
Atlas/data/MNS_Lidar2024.tif

/.quarto/
**/*.quarto_ipynb
.RDataTmp*
.Rhistory
.RData
Atlas/_book/
.Rhistory
.RData
Atlas/_book/
*.gdb/
*.ppkx
*.gml
*.gfs
.RDataTmp*
.Rhistory
.RData
Atlas/_book/
Atlas/data/Carte_associations_de_sols/
Atlas/data/landcover-vector-2018-2021-2024-gdb/
Atlas/biophysical_files/
*.png
Atlas/biophysical_files/
Atlas/biophysical_files/figure-html/
